body {
  /* background-color: black; */
  /* opacity: 0.6; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 50px;
}

.image {
  width: auto;
  height: auto;
  object-fit: cover;
}
@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  
}
/* .test{
  border:1px solid red;
  /* opacity: 0.1;/ */
