.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 50px;
}
.image:hover {
  transform: scale(1.1);
  box-shadow: 10px grey;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}

.footer {
  background-color: black;
  height: auto;
  color: white;
  font-size: larger;
  margin-top: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.heart {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
}
.contact {
  border-top: 1px solid white;
  background-color: black;
  height: auto;
  color: white;
  display: flex;
  height: 40px;
  font: 20px;
  font: weight 500;
  align-items: center;
  justify-content: space-around;
}

.gmail {
  height: 20px;
  margin-left: 4px;
  color: white;
  z-index: 3;
}

.g {
  display: flex;
  width: auto;
  height: auto;
}
